* {
    box-sizing: border-box;
}

.container {
    background-image: url("../images/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-family: 'Asap Condensed', serif;
}

.jumbotron {
    background-image: url("../images/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Asap Condensed', serif;
    color: black;
    font-size: large;
    text-align: center;
    border: 1px solid blue;
}

.col-sm-8 {
    /* border: 1px solid blue; */
    padding-left: 0%;
    padding-right: 15px;
}

.col-sm-12 {
    border: none;
}

.current-weather {
    padding-left: 5%;
    border: none;
}

#current-city {
    font-family: 'Asap Condensed', serif;
    font-size: 25px;
}

#windspeed {
    font-family: 'Asap Condensed', serif;
    /* border: 1px solid blue; */
}

.uvir {
    color: white;
    background-color: red;
    font-size: smaller;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 5px;
    height: 2px;
}

.uviy {
    color: black;
    background-color: yellow;
    font-size: smaller;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 5px;
    height: 2px;
}

.uvig {
    color: white;
    background-color: green;
    font-size: smaller;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 5px;
    height: 2px;
}

#humidity {
    font-family: 'Asap Condensed', serif;
    /* border: 1px solid blue; */
}

#temperature {
    font-family: 'Asap Condensed', serif;
    /* border: 1px solid blue; */
}

h1 {
    font-family: 'Asap Condensed', serif;
    color: black;
    text-shadow: 2px 2px 5px red;
}

h3 {
    font-family: 'Asap Condensed', serif;
    font-size: 20px;
    margin-top: 8px;
    color: black;
    text-shadow: 2px 2px 5px red;
}

h5 {
    font-family: 'Asap Condensed', serif;
    color: black;
    text-shadow: 2px 2px 5px red;
    font-size: 45px;
}

.forecast {
    font-size: 0.9em;
}

span {
    font-size: 1em;
    color: black;
}

li:hover {
    background-color: lightslategray;
    text-decoration: underline;
}